# platform related
.DS_Store
._.DS_Store
*.log

# editor related
.idea
*.swp
*.~
.*.un~
.vimrc

# build related
build/
dist/
docs/_book/
docs/api/
node_modules/
test-reports/
amd_modules/
package-lock.json
