/*
 * 所有superframe的公共父容器
 */
#super-frame {
    font: 14px/22px Arial,Helvetica,sans-serif;
    word-break: break-word;
    word-wrap: break-word;
}


/*
 * 单一场景容器
 */
.sfa-view {
    z-index: 501;
    width: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    overflow: auto;
}


/*
 * 场景头部样式
 */
.sfa-view .sfa-head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    background-color: #09f;
    color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sfa-view .sfa-back,
.sfa-view .sfa-close,
.sfa-view .sfa-tool {
    width: 50px;
    height: 44px;
    float: left;
    text-align: right;
}

.sfa-view .sfa-back {
    width: 62px;
}

.sfa-view .sfa-close {
    width: 43px;
}

.sfa-view .sfa-close span,
.sfa-view .sfa-back span {
    font-size: 16px;
    vertical-align: middle;
}

.sfa-view .sfa-tool {
    float: right;
    text-align: center;
}

.sfa-view .sfa-title .c-line-clamp1 {
    padding: 0 8px;
}


/*
 * 场景内容样式
 */
.sfa-view .sfa-body {
    overflow: hidden;
    text-align: left;
    padding-top: 44px;
}

.sfa-view ul {
    list-style: none;
}

/* 消除第一个元素的上间距 */
.sfa-results .c-result:first-of-type .c-container:first-of-type {
    margin-top: 0;
}
